* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    color: #ddd;
    font-family: 'Lato', sans-serif;

}

.app-body {
    width: 100%;
    height: 100%;
    padding: 15px 100px;
    background-image: url(morning.jpg);
    background-size: auto;

}

.quotes {
    display: flex;
    flex-direction: row;
    padding: 50px;
    padding-bottom: 20px;
    width: 50%;

}

.quote-random-author {
    display: inline;
    padding: 10px 50px;
    width: 50%;
}

.btn-change-quote {
    background-color: transparent;
    width: 20px;
    height: 20px;
    padding: 15px;
    border: none;
    transition: all 0.6s;

}


.btn-change-quote:hover {
    cursor: pointer;
    transform: scale(1.2);

}

.quote-random {
    line-height: 1.5;
    letter-spacing: 1px;
}

.quote-random2 {
    display: none;
    line-height: 1.5;
    letter-spacing: 1px;
}



span {
    display: inline-block;
    padding: 10px 0;
    font-weight: bold;
}

.clock-body {
    position: absolute;
    bottom: 50px;
    left: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 60%;
    height: 50%;
    padding: 30px 50px;

}

.clock-body2 {
    position: absolute;
    top: 50px;
    left: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 40%;

}

.hello-evening {
    display: none;
}

.acctually-time {
    font-size: 150px;
    font-weight: 800;
}

.hello-morning {
    padding: 10px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

i .hello-morning {
    margin: 10px;
}

.city {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.time-unit {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 100;
}

.more {
    position: absolute;
    bottom: 100px;
    right: 50px;
    height: 50px;
    width: 120px;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(66, 66, 66);
    text-transform: uppercase;
    border: none;
    border-radius: 50px;
    transition: all 0.5s ease-out;

}

.more:hover {
    cursor: pointer;
    color: #585858;
    transform: scale(1.2);
}

.more2 {
    position: absolute;
    bottom: 450px;
    right: 50px;
    height: 50px;
    width: 120px;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(66, 66, 66);
    text-transform: uppercase;
    border: none;
    border-radius: 50px;
    transition: all 0.5s ease-out;
}

.more2:hover {
    cursor: pointer;
    color: #585858;
    transform: scale(1.2);
}

.arrow-up2 {
    transform: rotate(180deg);
}


.more-info {
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        ". ."
        ". .";
    position: absolute;
    bottom: 0;
    left: 0;
    color: black;
    width: 100%;
    height: 400px;
    padding: 30px;
    background-color: #ddd;
    opacity: 70%;
    transition: all 0.5s ease-out;
}

.info2 {
    grid-area: 2 / 2 / 3 / 3;
    justify-self: center;
}

.info-day {
    grid-area: 1 / 1 / 2 / 2;
    justify-self: center;
}

.info-year {
    grid-area: 1 / 2 / 2 / 3;
    justify-self: center;
}

.info-week {
    grid-area: 2 / 1 / 3 / 2;
    justify-self: center;
}

.info-timezone {
    grid-area: 2 / 2 / 3 / 3;
    justify-self: center;
}


.h-info {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;

}

.p-info {
    font-size: 50px;
    padding: 20px;
    font-weight: bold;
    text-align: center;
}



@media (max-width: 1024px) {


    .app-body {
        padding: 15px;
    }

    .clock-body {
        padding: 25px;
        height: 40%;
    }

    .clock-body2 {
        justify-content: flex-start;
        height: 30%;
    }

    .quotes {
        width: 100%;
        max-height: 100px;
    }
}